body{
    background-color: #444;

}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.title{
    text-align: center;
    color: white;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
a:visited, a {
    color: inherit;
}
#user {
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.user-menu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
}
.user{
    position: relative;
    padding-right: 30px;
    float: right;
}
.user:hover .user-menu {
    display: block;
    z-index: 10;
}
.hover-menu{
    padding-right: 20px;
}
#home {
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding-left: 10px;
}
.hover-menu li{
    padding-right: 11px;
    list-style: none;
}