/* Regole di stile per vedere template precedenti */

/* Impostazioni generali */
body {
    height: 100vh;
    background-color: #444;
    background-image: url('https://www.pixel4k.com/wp-content/uploads/2020/08/dark-abstract-black-minimal_1596927735.jpg.webp');
    background-size: cover;
    background-position: center;
}

/* Stile del titolo */
.title {
    padding-top: 30px;
    padding-left: 45px;
    text-align: center;
    color: white;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Open Sans', sans-serif;
}

/* Stile delle tabelle */
table {
    border-collapse: collapse;
    width: 91%;
    margin-left: 50px;
    margin-top: 100px;
    background-color: white;
    border-radius: 20px;
}

/* Stile delle celle delle tabelle */
th,
td {
    text-align: center;
    padding: 8px;
}

/* Stile delle celle del corpo della tabella */
td {
    border-radius: 20px;
}

/* Stile delle celle dell'intestazione */
th {
    background-color: #f2f2f2;
}

/* Stile specifico per l'intestazione del nome del template */
.th_template-name {
    border-top-left-radius: 20px;
}

/* Stile specifico per l'intestazione delle azioni */
.th_actions {
    border-top-right-radius: 20px;
}

/* Stile dei link visitati e non visitati */
a:visited,
a {
    color: inherit;
}

/* Stile del menu utente  [DA RIVEDERE] */
.user-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
    color: black;
}

/* Contenitore utente */
.user {
    position: relative;
    padding-right: 30px;
    float: right;
}

/* Visualizzazione del menu utente al passaggio del mouse */
.user:hover .user-menu {
    display: block;
    z-index: 10;
}

/* Elementi del menu utente */
.hover-menu {
    padding-right: 20px;
}

/* Icone */
#home,
#user {
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding-top: 12px;
    padding-left: 10px;
}

/* Elementi del menu utente */
.hover-menu li {
    padding-right: 11px;
    list-style: none;
}

/* Stile dei link nel menu utente */
.user-menu a {
    text-decoration: none;
}

#editor_template {
    margin-left: 24px;
}