body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.editable-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    height: 899px;
}

.editable-title {
    font-size: 24px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.editable {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 699px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}






#popup_bg{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: none;
}

#popup_main{
    position: fixed;
    width: 800px;
    height: 400px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -250px;

}
#close_popup{
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    right: 5px;
    top: 5px;   
}
#close_popup p{
    font-weight: bold;
}
#settings_popup{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 2px solid black;
}
#settings{
    text-align: center;
    margin-top: 20px;
}
.dark-mode * {
    background-color: black;
    color: white;
  }
